:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contactlink-footer:hover,
.contactlink-footer:focus {
  color: var(--accent-color);
}

/* Logo */

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
}

.logo-accent {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-footer {
  color: var(--white-color);
}

/* Navigation*/

.navigations {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding: 25px 0;
  background-color: var(--white-color);
  border: 1px solid #ececec;
}

.site-nav {
  display: flex;
  justify-content: center;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contactlist .item + .item {
  margin-left: 50px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--main-animation);
}

.contactlist {
  display: flex;
  margin-left: auto;
}

.contact-link-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-color);
  transition: color 250ms var(--main-animation);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link-header:hover,
.contact-link-header:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  transition-property: background-color;
  transition-duration: 250ms;
  color: var(--accent-color);
}

.current:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-size: cover;
  background-color: var(--accent-color);
  border-radius: 4px;
}

/* footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-adress {
  display: block;
  margin-top: 20px;

  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
}

.footer-item:last-child {
  margin-top: 9px;
}

.footer-list {
  margin-top: 9px;
}

.contactlink-footer {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--main-animation);
}

/* Hero */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--main-animation), visibility 250ms var(--main-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  display: flex;
  justify-content: end;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--main-animation);
}

.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
}

/* features */

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  background-color: #f5f4fa;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 10px;
  line-height: 1.71;
  color: var(--secondary-color);
}

/* About */

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-list .item {
  margin-right: 30px;
}

.about-list .item:last-child {
  margin: 0;
}

.about-thumb {
  position: relative;
}

.about-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

/* Section Team */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color 250ms var(--main-animation), background-color 250ms var(--main-animation);
}

.social:hover,
.social:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.socials-logo {
  fill: currentColor;
}

.team-list .item {
  margin-right: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin: 0;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 270px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.profession-text {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-color);
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--main-animation), border 250ms var(--main-animation);
}

.clients-logo {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Portfolio */

.list-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-buttons .item:nth-child(-n + 4) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--main-color);
  background-color: var(--secondary-bg-color);
  transition: color 250ms var(--main-animation), background-color 250ms var(--main-animation),
    box-shadow 250ms var(--main-animation);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: inline-block;
  transition: box-shadow 250ms var(--main-animation);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Porfolio Overlay */

.img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  padding: 63px 24px;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  transform: translateY(100%);
  transition: transform 250ms var(--main-animation);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  padding: 20px 24px;
}

.portfolio-item {
  display: block;
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.container-join {
  margin-left: 70px;
}

.join-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-list {
  width: 206px;
  height: 44px;

  display: flex;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  transition: background-color 250ms var(--main-animation);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: currentColor;
}
