.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  width: calc((100% - 3 * 30px) / 4);
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  max-width: 270px;
  line-height: 1.71;
}

/* features-icon */

.features__wrap {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
}
